<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>v-model指令补充</title>
</head>

<body>
    <div id="app">
        <input v-model="inputValue" @keyup.enter="add" type="text">
        <ul>
            <li v-for="(v,k) in arr">
                {{k+1}} {{v}}
                <button @click="remove(k)">删除</button>
            </li>
            <li v-if="arr.length!=0"><span v-if="arr.length!=0">总数：{{arr.length}}</span> <button @click="clear" v-if="arr.length!=0">清空</button></li>
        </ul>
    </div>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                arr: ["写代码", "吃饭", "睡觉"],
                inputValue: "学习"
            },
            methods: {
                add: function () {
                    this.arr.push(this.inputValue);
                },
                remove: function (index) {
                    this.arr.splice(index, 1);
                },
                clear: function () {
                    this.arr = [];
                }
            }
        })
    </script>
</body>

</html>